.footer {
    background-color: rgb(51, 51, 51);
    color: #fff;
    padding: 2em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
    transition: .3s;
    cursor: pointer;
}

.social_list li:hover {
    color: #ffbb33;
}

.social_list svg {
    font-size: 1.5em;
}

.copyright {
    margin-top: 2em
}

.copyright span {
    color: #ffbb33;
}